[submodule "tf_models"]
	path = tf_models
	url = https://github.com/tensorflow/models
	branch = master
	ignore = dirty
[submodule "cta-rta-sci"]
	path = cta-rta-sci
	url = git@github.com:ambra-dipiano/cta-rta-sci.git
	branch = master
	ignore = dirty
[submodule "rtamock"]
	path = rtamock
	url = git@github.com:ambra-dipiano/rtamock.git
	branch = master
	ignore = dirty
[submodule "rta-visibility"]
	path = rta-visibility
	url = git@github.com:ambra-dipiano/rta-visibility.git
	branch = master
	ignore = dirty